<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
	
<mapper namespace="com.spring.mvc.chapter02_mapper.BasicMapper">
	
	<select id="ex01" resultType="">
	</select>
	
	<insert id="ex03" parameterType="">
	</insert>
	
	<update id="ex04">
	</update>
	
	<delete id="ex05">
	</delete>

</mapper>